
body {
    font-family: Helvetica, sans-serif;
}

#mainBar {
    padding: 10px;
    background-color: darkslategrey;
}

#mainTitle {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-align: center;
}

